@charset "utf-8";

/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {

	width: 100%;
	height: 100%;
	min-height: 635px;
	font-family: "microsoft yahei", arial, sans-serif;
	background-color: #0f1c30;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body.bg01 {
	background-image: url("../img/bg.jpg");
}

body.bg02 {
	background-image: url("../img/bg01.png");
}

/* layout */
.header {
	margin: 0 auto;
	width: 100%;
	height: 65px;
	max-width: 1920px;
	background: url("../img/header1.png") center no-repeat;
}

.header h3 {
	margin: 0;
	padding: 0;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	color: #5dc2fe;
}

.header-info {
	position: absolute;
	top: 32px;
	font-size: 18px;
	color: #73aae5;
}

.header-info-l {
	left: 5%;
	top: 5%;
	font-size: 50px;
	text-align: center;

}

.header-info-r {
	right: 20px;
}


.wrapper {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 555px;
}



#button1 {
	width: 24.3px;
	height: 24.3px;
	margin-left: 10%;
	margin-top: 8%;
}

#button2 {
	
	width: 24.3px;
	height: 24.3px;

}

#button3 {
	
	width: 24.3px;
	height: 24.3px;

}

#button4 {
	
	width: 24.3px;
	height: 24.3px;

}

#button5 {

	width: 24.3px;
	height: 24.3px;

}
#button6 {
	width: 24.3px;
	height: 24.3px;
}

#button7 {
	
	width: 24.3px;
	height: 24.3px;

}

#button8 {
	
	width: 24.3px;
	height: 24.3px;

}

#button9 {
	
	width: 24.3px;
	height: 24.3px;

}

#button10 {

	width: 24.3px;
	height: 24.3px;

}
#button11 {
	width: 24.3px;
	height: 24.3px;
}

#button12 {
	
	width: 24.3px;
	height: 24.3px;

}

#button13 {
	
	width: 24.3px;
	height: 24.3px;

}

#button14 {
	
	width: 24.3px;
	height: 24.3px;

}
#button15 {
	width: 24.3px;
	height: 24.3px;
}

#button16 {
	
	width: 24.3px;
	height: 24.3px;

}

#button17 {
	
	width: 24.3px;
	height: 24.3px;

}

#button18 {
	
	width: 24.3px;
	height: 24.3px;

}

#button19 {

	width: 24.3px;
	height: 24.3px;

}
#button20 {

	width: 24.3px;
	height: 24.3px;

}
#button21 {
	width: 24.3px;
	height: 24.3px;
}

#button22 {
	
	width: 24.3px;
	height: 24.3px;

}

#button23 {
	
	width: 24.3px;
	height: 24.3px;

}

#button24 {
	
	width: 24.3px;
	height: 24.3px;

}

#button25 {

	width: 24.3px;
	height: 24.3px;

}
#button26 {
	width: 24.3px;
	height: 24.3px;
}

#button27 {
	
	width: 24.3px;
	height: 24.3px;

}

#button28 {
	
	width: 24.3px;
	height: 24.3px;

}

#button29 {
	
	width: 24.3px;
	height: 24.3px;

}

#button30 {

	width: 24.3px;
	height: 24.3px;

}
#button31 {
	width: 24.3px;
	height: 24.3px;
}

#button32 {
	
	width: 24.3px;
	height: 24.3px;

}

#button33 {
	
	width: 24.3px;
	height: 24.3px;

}

#button34 {
	
	width: 24.3px;
	height: 24.3px;

}

#button35 {

	width: 24.3px;
	height: 24.3px;

}
#button36 {
	width: 24.3px;
	height: 24.3px;
}

#button37 {
	
	width: 24.3px;
	height: 24.3px;

}

#button38 {
	
	width: 24.3px;
	height: 24.3px;

}

#button39 {
	
	width: 24.3px;
	height: 24.3px;

}

#button40 {

	width: 24.3px;
	height: 24.3px;

}
#button41 {
	width: 24.3px;
	height: 24.3px;
}

#button42 {
	
	width: 24.3px;
	height: 24.3px;

}

#button43 {
	
	width: 24.3px;
	height: 24.3px;

}

#button44 {
	
	width: 24.3px;
	height: 24.3px;

}

#button45 {

	width: 24.3px;
	height: 24.3px;

}
#button46 {
	width: 24.3px;
	height: 24.3px;
}

#button47 {
	
	width: 24.3px;
	height: 24.3px;

}

#button48 {
	
	width: 24.3px;
	height: 24.3px;

}

#button49 {
	
	width: 24.3px;
	height: 24.3px;

}

#button50 {

	width: 24.3px;
	height: 24.3px;

}
#container {
	position: absolute;
	top: 64px;
	bottom: 15px;
	left: 0;
	right: 0;
}

#alarm {
	position: absolute;
	top: 1%;
	left: 5%;
	width: 100%;
	height: 30%;
	text-align: center;
	font-size: 80px;
	font-family: Microsoft YaHei;
	color: #f31e29;
	background: url("../img/alarm2.png") 20% no-repeat;
	background-size: 15% 100%;
	
	animation: action 1s linear infinite;
	
}

@keyframes action {
	25% {
		opacity: 0.5
	}

	50% {
		opacity: 0.1
	}

	75% {
		opacity: 0.5
	}

	100% {
		opacity: 0.9
	}
}




#flexCon {
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-row {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-cell {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 15px;
}


.flex-cell-lc {
	-webkit-flex: 5;
	-ms-flex: 5;
	flex: 5;
}

.chart-wrapper {
	position: relative;
	height: 100%;
}

.chart-title {
	height: 30px;
	font-size: 20px;
	font-weight: normal;
	color: #5ac8fa;
}


.chart-origin {
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	
	border-style: solid;
	border-width: 26px 27px 27px;
	border-image: url("../img/panel.png") 26 27 27 fill / 1 / 0 repeat;

}
/* 引气建模容器 */
.chart {
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	border-style: solid;
	border-width: 26px 27px 27px;
	border-image: url("../img/panel.png") 26 27 27 fill / 1 / 0 repeat;

}   

/* 距�?�温度曲线�?�器 */

.jianmo {
	position: absolute;
	left: 0px;
	top: 50%;
	width: 100%;
	height: 50%;


}

.window1 {
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url("../img/bg01.png");
	width: 100%;
	height: 100%;
	opacity: 1;





}


#ss {
	height: 100%;
	width: 100%;
	animation: action 1s linear infinite;
}



.tankuang {
	position: absolute;
	width: 50%;
	height: 75%;
	border-radius: 5px;
	margin: 5% auto;
	background: #20294dd7;
	opacity: 1;
	top: 0px;
	left: 30%;




}

#header-right {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: red;
	color: #fff;
	right: 5px;
	top: 5px;
	text-align: center;



}


/* media query */
@media (max-width:1900px) {
	#header {
		height: 48px;
	}

	#container {
		top: 36px;
		bottom: 10px;
	}

	.header-title {
		line-height: 42px;
		font-size: 22px;
	}

	.flex-cell {
		padding: 10px;
	}

	.chart-title {
		height: 24px;
		font-size: 16px;
	}

	.chart-div {
		top: 24px;
	}
}


@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}